.list {
  display: flex;
  flex-direction: column;
  gap: 0.325rem;
  list-style: none;
  margin: 0;
}

.phoneNumber {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: inherit;
}

.phoneIcon {
  color: var(--clr-primary);
}
